In [10]:
from mdpkg.randomforestregressor  import *

train

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형,사고유형 - 세부분류,법규위반,...,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사망자수,중상자수,경상자수,부상자수,ECLO
0,ACCIDENT_00000,2019-01-01 00,화요일,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,길가장자리구역통행중,안전운전불이행,...,상해없음,보행자,여,70세,중상,0,1,0,0,5
1,ACCIDENT_00001,2019-01-01 00,화요일,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,보도통행중,기타,...,상해없음,보행자,남,61세,경상,0,0,1,0,3
2,ACCIDENT_00002,2019-01-01 01,화요일,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,차도통행중,안전운전불이행,...,상해없음,보행자,남,38세,경상,0,0,1,0,3
3,ACCIDENT_00003,2019-01-01 02,화요일,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,추돌,안전운전불이행,...,상해없음,승용,남,36세,중상,0,1,0,0,5
4,ACCIDENT_00004,2019-01-01 04,화요일,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,추돌,안전운전불이행,...,상해없음,승용,남,52세,경상,0,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,ACCIDENT_39604,2021-12-31 19,금요일,맑음,대구광역시 수성구 수성동3가,교차로 - 교차로안,건조,차대차,측면충돌,신호위반,...,상해없음,이륜,남,28세,경상,0,0,1,0,3
39605,ACCIDENT_39605,2021-12-31 19,금요일,맑음,대구광역시 달서구 상인동,단일로 - 기타,건조,차대차,측면충돌,안전거리미확보,...,상해없음,승용,남,52세,경상,0,0,1,0,3
39606,ACCIDENT_39606,2021-12-31 21,금요일,맑음,대구광역시 달서구 월성동,교차로 - 교차로안,건조,차대차,측면충돌,교차로운행방법위반,...,중상,승용,남,73세,중상,0,2,0,0,10
39607,ACCIDENT_39607,2021-12-31 22,금요일,맑음,대구광역시 달서구 장동,기타 - 기타,건조,차대차,추돌,안전운전불이행,...,상해없음,승용,여,57세,경상,0,0,1,0,3
39608,ACCIDENT_39608,2021-12-31 23,금요일,맑음,대구광역시 서구 비산동,단일로 - 지하차도(도로)내,건조,차대차,측면충돌,안전운전불이행,...,상해없음,승용,남,33세,경상,0,0,2,0,6

In [31]:
test

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형,월,일,시
0,ACCIDENT_39609,2022-01-01 01:00:00,토요일,맑음,대구광역시 수성구 상동,교차로 - 교차로안,건조,차대사람,1,1,1
1,ACCIDENT_39610,2022-01-01 01:00:00,토요일,맑음,대구광역시 수성구 지산동,단일로 - 기타,건조,차대사람,1,1,1
2,ACCIDENT_39611,2022-01-01 04:00:00,토요일,맑음,대구광역시 수성구 수성동2가,교차로 - 교차로안,건조,차대차,1,1,4
3,ACCIDENT_39612,2022-01-01 04:00:00,토요일,맑음,대구광역시 수성구 신매동,단일로 - 기타,건조,차대차,1,1,4
4,ACCIDENT_39613,2022-01-01 06:00:00,토요일,맑음,대구광역시 달서구 감삼동,교차로 - 교차로안,건조,차대차,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...
10958,ACCIDENT_50567,2022-12-31 18:00:00,토요일,맑음,대구광역시 남구 대명동,단일로 - 터널,건조,차대차,12,31,18
10959,ACCIDENT_50568,2022-12-31 18:00:00,토요일,맑음,대구광역시 수성구 시지동,단일로 - 기타,건조,차대차,12,31,18
10960,ACCIDENT_50569,2022-12-31 20:00:00,토요일,맑음,대구광역시 수성구 연호동,단일로 - 기타,건조,차대차,12,31,20
10961,ACCIDENT_50570,2022-12-31 20:00:00,토요일,맑음,대구광역시 수성구 범물동,교차로 - 교차로부근,건조,차대차,12,31,20
10962,ACCIDENT_50571,2022-12-31 21:00:00,토요일,맑음,대구광역시 동구 효목동,교차로 - 교차로부근,건조,차대차,12,31,21

In [11]:
train_info

          index   dtype  nunique  nan
0            ID  object    39609    0
1          사고일시  object    18057    0
2            요일  object        7    0
3          기상상태  object        6    0
4           시군구  object      199    0
5          도로형태  object       11    0
6          노면상태  object        6    0
7          사고유형  object        3    0
8   사고유형 - 세부분류  object       14    0
9          법규위반  object       11    0
10     가해운전자 차종  object       12    0
11     가해운전자 성별  object        3    0
12     가해운전자 연령  object       89    0
13   가해운전자 상해정도  object        6    0
14     피해운전자 차종  object       13  991
15     피해운전자 성별  object        3  991
16     피해운전자 연령  object       97  991
17   피해운전자 상해정도  object        6  991
18         사망자수   int64        3    0
19         중상자수   int64        7    0
20         경상자수   int64       18    0
21         부상자수   int64        9    0
22         ECLO   int64       46    0

In [15]:
mergedf =pd.merge(left=train_info, right=test_info, on='index',
         how='left', suffixes=('_train', '_test')).set_index('index')

In [16]:
mergedf

,dtype_train,nunique_train,nan_train,dtype_test,nunique_test,nan_test
index,,,,,,
ID,object,39609,0,object,10963.0,0.0
사고일시,object,18057,0,object,5548.0,0.0
요일,object,7,0,object,7.0,0.0
기상상태,object,6,0,object,5.0,0.0
시군구,object,199,0,object,192.0,0.0
도로형태,object,11,0,object,11.0,0.0
노면상태,object,6,0,object,6.0,0.0
사고유형,object,3,0,object,3.0,0.0
사고유형 - 세부분류,object,14,0,NaN,NaN,NaN
법규위반,object,11,0,NaN,NaN,NaN
가해운전자 차종,object,12,0,NaN,NaN,NaN
가해운전자 성별,object,3,0,NaN,NaN,NaN
가해운전자 연령,object,89,0,NaN,NaN,NaN
가해운전자 상해정도,object,6,0,NaN,NaN,NaN
피해운전자 차종,object,13,991,NaN,NaN,NaN
피해운전자 성별,object,3,991,NaN,NaN,NaN
피해운전자 연령,object,97,991,NaN,NaN,NaN
피해운전자 상해정도,object,6,991,NaN,NaN,NaN
사망자수,int64,3,0,NaN,NaN,NaN
중상자수,int64,7,0,NaN,NaN,NaN
경상자수,int64,18,0,NaN,NaN,NaN
부상자수,int64,9,0,NaN,NaN,NaN
ECLO,int64,46,0,NaN,NaN,NaN

In [43]:
cols

Index(['ID', '사고일시', '요일', '기상상태', '시군구', '도로형태', '노면상태', '사고유형'], dtype='object')

In [30]:
X_train = train[cols]

X_train

,ID,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형
0,ACCIDENT_00000,2019-01-01 00,화요일,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람
1,ACCIDENT_00001,2019-01-01 00,화요일,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람
2,ACCIDENT_00002,2019-01-01 01,화요일,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람
3,ACCIDENT_00003,2019-01-01 02,화요일,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차
4,ACCIDENT_00004,2019-01-01 04,화요일,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차
...,...,...,...,...,...,...,...,...
39604,ACCIDENT_39604,2021-12-31 19,금요일,맑음,대구광역시 수성구 수성동3가,교차로 - 교차로안,건조,차대차
39605,ACCIDENT_39605,2021-12-31 19,금요일,맑음,대구광역시 달서구 상인동,단일로 - 기타,건조,차대차
39606,ACCIDENT_39606,2021-12-31 21,금요일,맑음,대구광역시 달서구 월성동,교차로 - 교차로안,건조,차대차
39607,ACCIDENT_39607,2021-12-31 22,금요일,맑음,대구광역시 달서구 장동,기타 - 기타,건조,차대차
39608,ACCIDENT_39608,2021-12-31 23,금요일,맑음,대구광역시 서구 비산동,단일로 - 지하차도(도로)내,건조,차대차

In [28]:
y_train = train['ECLO']

y_train

0         5
1         3
2         3
3         5
4         3
         ..
39604     3
39605     3
39606    10
39607     3
39608     6
Name: ECLO, Length: 39609, dtype: int64

In [29]:
X_train_eng

,월,일,시,요일_금요일,요일_목요일,요일_수요일,요일_월요일,요일_일요일,요일_토요일,요일_화요일,...,도로형태_주차장 - 주차장,노면상태_건조,노면상태_기타,노면상태_서리/결빙,노면상태_적설,노면상태_젖음/습기,노면상태_침수,사고유형_차대사람,사고유형_차대차,사고유형_차량단독
0,1,1,0,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,True,False,False
1,1,1,0,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,True,False,False
2,1,1,1,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,True,False,False
3,1,1,2,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,1,4,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,12,31,19,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
39605,12,31,19,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
39606,12,31,21,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
39607,12,31,22,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
39608,12,31,23,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

In [32]:
X_train, X_val, y_train, y_val = train_test_split(
    X_train_eng, y_train, test_size=0.2, random_state=42)

In [33]:
X_train

,월,일,시,요일_금요일,요일_목요일,요일_수요일,요일_월요일,요일_일요일,요일_토요일,요일_화요일,...,도로형태_주차장 - 주차장,노면상태_건조,노면상태_기타,노면상태_서리/결빙,노면상태_적설,노면상태_젖음/습기,노면상태_침수,사고유형_차대사람,사고유형_차대차,사고유형_차량단독
19887,6,12,18,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
17901,4,19,13,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
38196,11,19,14,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
30365,4,1,8,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4562,5,4,1,False,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,6,14,0,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
11284,10,16,17,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
38158,11,18,13,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
860,1,27,16,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
15795,2,5,7,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True

In [34]:
X_val

,월,일,시,요일_금요일,요일_목요일,요일_수요일,요일_월요일,요일_일요일,요일_토요일,요일_화요일,...,도로형태_주차장 - 주차장,노면상태_건조,노면상태_기타,노면상태_서리/결빙,노면상태_적설,노면상태_젖음/습기,노면상태_침수,사고유형_차대사람,사고유형_차대차,사고유형_차량단독
8707,8,16,9,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
33104,6,20,8,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
2992,3,26,19,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
34752,8,8,14,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,True,False
9708,9,11,7,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14399,12,28,13,False,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False
32605,6,4,18,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
33980,7,15,11,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
23219,9,9,19,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
2865,3,23,19,False,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False

In [41]:
y_train.sort_index(ascending=True)

0         5
2         3
3         5
5         6
6        18
         ..
39604     3
39605     3
39606    10
39607     3
39608     6
Name: ECLO, Length: 31687, dtype: int64

In [39]:
y_val.sort_index(ascending=True)

1        3
4        3
13       5
23       3
34       6
        ..
39565    3
39566    5
39581    5
39602    3
39603    3
Name: ECLO, Length: 7922, dtype: int64

In [40]:
y_train_pred

array([3.285     , 4.18666667, 3.31625   , ..., 3.11533333, 9.60666667,
       3.28      ])

In [42]:
y_val_pred

array([ 3.59333333,  4.64      ,  5.508     , ...,  5.265     ,
       13.743     ,  5.75683333])

In [44]:
ss.head()

               ID      ECLO
0  ACCIDENT_39609  4.160000
1  ACCIDENT_39610  2.950000
2  ACCIDENT_39611  7.190000
3  ACCIDENT_39612  7.170000
4  ACCIDENT_39613  4.946667